/* biography style start */
.appoint-content {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 1rem;
  gap: 2rem;
}
.top-appoint img {
  width: 600px;
  align-items: center;
  align-self: center;
  align-content: center;
  margin-top: 2rem;
}
.bottom-appoint h5 {
  margin-bottom: 1rem;
  font-size: 15px;
}
.wow {
  margin-bottom: 1rem;
  font-size: 15px;
}
.mid {
  margin-bottom: 1rem;
  font-size: 15px;
}
.pra {
  margin-bottom: 1rem;
  font-size: 15px;
}
/* biography style end */
