/* appoinment start */
.appointment-container{
  margin-top: 20rem;
}
.appointment-container h2 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  margin-left: 5rem;
  margin-bottom: 3rem;
  font-size: 50px;
  color: #9e9e9e;
}
form{
  width: 100%;
}
.form-head-btn-1 {
  background: linear-gradient(68.08deg, #9083d5 9.64%, #807593 92.49%);
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 4px #774d4d40 inset;
  border: 2px solid transparent;
  font-weight: 300;
  line-height: 18px;
  width: 100px;
  padding: 9px 10px;
  color: #fff;
  font-size: 14px;
  margin-bottom: 0;
  margin-left: 62rem;
}
.form-head-btn-2,
.form-head-btn-3 {
  background: linear-gradient(
    68.08deg,
    rgba(144, 131, 213, 0.25) 9.64%,
    rgba(128, 117, 147, 0.25) 92.49%
  );
  border-radius: 5px;
  width: 100px;
  padding: 9px 22px;
  line-height: 18px;
  color: #000000;
  border: none;
  margin-left: -0.1rem;
}
.form-group {
  margin-top: 0.5rem;
  margin-left: 5rem;
  /* margin-top: 1rem; */
  margin-bottom: 0.9rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 3rem;
  align-content: center;
  /* margin-top: 0; */
}
.high {
  border: 4px solid #9e9e9e;
  height: 2.5rem;
  border-radius: 0.5rem;
}
.down {
  border: 4px solid #9e9e9e;
  height: 2.5rem;
  border-radius: 0.5rem;
}
.form-groups {
  margin-left: 5rem;
  /* margin-top: 1rem; */
  margin-bottom: 0.9rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 3rem;
  align-content: center;
}
.mail {
  border: 4px solid #9e9e9e;
  height: 2.5rem;
  border-radius: 0.5rem;
}
.numb {
  border: 4px solid #9e9e9e;
  height: 2.5rem;
  border-radius: 0.5rem;
}
.formula {
  margin-left: 5rem;
  /* margin-top: 1rem; */
  margin-bottom: 0.9rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 3rem;
  align-content: center;
}
.nic {
  border: 4px solid #9e9e9e;
  height: 2.5rem;
  border-radius: 0.5rem;
}
.birth {
  border: 4px solid #9e9e9e;
  height: 2.5rem;
  border-radius: 0.5rem;
}
.form-grouper {
  margin-left: 5rem;
  /* margin-top: 1rem; */
  margin-bottom: 0.9rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 3rem;
}
.date,
.tim,
.gen {
  border: 4px solid #9e9e9e;
  display: grid;
  height: 2.3rem;
  border-radius: 0.5rem;
}
.form-groupe {
  margin-left: 5rem;
  /* margin-top: 1rem; */
  margin-bottom: 0.9rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 3rem;
}
.Department,
.doctorss {
  border: 4px solid #9e9e9e;
  height: 2.5rem;
}
.form-groupt {
  margin-left: 5rem;
  justify-content: center;
}
.address {
  border: 4px solid #9e9e9e;
  height: 15rem;
  justify-content: center;
  border-radius: 0.5rem;
  margin-bottom: 0.3rem;
  width: inherit;
}
.submit {
  margin-left: 40rem;
  margin-top: 10px;
}
.submit {
  background: linear-gradient(68.08deg, #9083d5 9.64%, #807593 92.49%);
  color: #ffffff;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 25px;
  border-radius: 10px;
  justify-content: center;
  width: 150px;
  cursor: pointer;
} 
/* appoinment end */
/* lines */
.lines {
  margin-top: 1rem;
  border: 3px solid #00000080;
}
